.App {
  text-align: center;
  background-image: url("Blue\ Mental\ Health\ Awareness.png");
  height: 1000px;
  background-size: cover;

}

.header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.moodSelect {
  display: flex;
}
.radio1 {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 20px;
  
}

.radio2 {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 20px;
}

.radio3 {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 20px;
  color: black;
}

.radio4 {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 20px;
}

button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: blanchedalmond;
  color: black;
}

.regbutt {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color:#e9e9ed ;
  color: black;
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

textarea {
  padding: 10px;
  width: 55%;
  height: 250px;
  background-color: white;
}
@media screen and (max-width: 600px) {
  textarea {
    width: 100%;
  }
}
.dates {
  width: 100%;
  display: flex;
  justify-content: center;
}
.date {
  width: 15%;
  margin-top: 20px;
  
}

[type="radio"]:not(:checked) {
  position: relative;
  opacity: 1;
  margin: 20px;
}

.radios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.loginform {
  margin: 50px;
  width: 30%;
}

.loginreg {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.log {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.logimage{
  width: 25%;
}

.fileupload{
  margin: 20px;
  color:black;
}
td{
  padding: 20px;
  text-align: center;
}

.info{
  font-weight: bolder;
}

.black-text{
  font-size: medium;
}

table{
  background-color: rgba(255,255,255,0.15);
}